@model IEnumerable<LightNovelProject.Models.Content>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Admin_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Chapter)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name_Chapter)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Content1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Novel.Name_NoveL)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Chapter)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name_Chapter)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Content1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Novel.Name_NoveL)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID_Chapter }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID_Chapter }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID_Chapter })
        </td>
    </tr>
}

</table>
